<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmyN3uwkQl4_rvVCmYeA8rr14fGsAd8l4</string>
	<key>GCM_SENDER_ID</key>
	<string>1063833932773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trade.edgelab</string>
	<key>PROJECT_ID</key>
	<string>tradecrudapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tradecrudapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063833932773:ios:e06ca9679c513f4264550c</string>
</dict>
</plist>